h1 {
  text-align: center;
  color: #4338ca;
}

.form {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}

button {
  padding: 10px 14px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

li {
  margin-top: 10px;
  background: #f8fafc; /* background tetap sama */
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* warna teks selang-seling */
.text1 {
  color: #2563eb; /* biru */
}

.text2 {
  color: #ea580c; /* orange */
}

.hapus {
  background: #ef4444;
}

.hapus:hover {
  background: #dc2626;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.progress {
  color: orange;
}

// styletanggal

.tanggal {
  font-size: 12px;
  color: #64748b;
  margin-left: 10px;
}

.aksi button {
  margin-left: 5px;
}